@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300');

@font-face {
    font-family: FiraCode;
    src: url(FiraCode-VariableFont_wght.ttf);
}

html{
    font-family: FiraCode;
    background-color: #27292a;
    color: #ffffff;
}

.error {
    color: red;
}

th {
    text-align: left;
}

fieldset {
    width: 700px;
    border-radius: 10px;
}

input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border: none;
}

.boton {
    width: 100px;
    background-color: yellowgreen;
    cursor: pointer;
    color: #ffffff;
}
.boton2 {
    background-color: rgb(245, 103, 99);
    cursor: pointer;
    color: #ffffff;
}
.boton3 {
    background-color: rgb(99, 150, 245);
    cursor: pointer;
    color: #ffffff;
}

.tabla{
    text-align: center;
}